:root{
    --primary:rgba(213, 45, 239, 0.356);
    --width-break: 600px;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}

#nav-head{
    background-color:var(--primary);
    font-size: large;
    padding:2rem;
    text-align: center;
    margin: 0%;
}
main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}
textarea{
    padding: 1rem;
    width: 80%;
    min-height: 20vh;
    margin-top: 3rem;
    font-size: larger;
    
    /* font-family: inherit; */
}
#btn-translate
{
    background-color: var(--primary);
    border:none;
    margin:1rem 0rem;
    padding:1rem 2rem;
    font-size: large;

}
#output{
    border:1px solid black;
    margin:1rem;
    padding:1rem;
    width:80%;
    min-height: 20vh;
    max-height: 10vh;
    box-sizing: border-box;
    overflow: scroll;

}

footer
{
   font-size: large;
   text-align: center;
   background-color: var(--primary);
   padding: 1rem;
   margin: 0%;
}
footer p {
    max-width: var(--width-break);
    margin: auto;
}